Source: netbase
Section: core
Priority: important
Maintainer: Alexander Shishkin <virtuoso@slind.org>
Standards-Version: 3.6.1
XCS-Cross-Host-Build-Depends: gettext, debhelper (>= 4.1.13), po-debconf (>= 0.5.0)
Build-Depends-Indep: gettext, debhelper (>= 4.1.13), po-debconf (>= 0.5.0)

Package: netbase
Architecture: all
Depends: slind-virtual-ifupdown, slind-virtual-ping
Description: Basic TCP/IP networking system
 This package provides the necessary infrastructure for basic TCP/IP based
 networking.
