Source: netbase
Section: core
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Standards-Version: 3.8.0
XCS-Cross-Host-Build-Depends: debhelper (>= 4.1.13)
Build-Depends-Indep: debhelper (>= 4.1.13)

Package: netbase
Architecture: all
Description: Basic TCP/IP networking system
 This package provides the necessary infrastructure for basic TCP/IP based
 networking.
